
.body {
    margin-top: 10px;
    position: relative;
}

/*菜单*/
.column_left {
    float: left;
    height: 480px;
    width: 190px;
    background-color: white;
}

.cate_menu {
    padding: 10px 0;
}

.cate_menu_item {
    overflow: hidden;
    padding-left: 18px;
    height: 25px;
    line-height: 25px;
    color: #666;
}

.cate_menu_item:hover {
    background-color: #dfdfdf;
}

.cate_menu_lk {

}

.cate_menu_line {
    font-size: 12px;
}

/*中间内容*/
.column_mid {
    float: left;
    margin-left: 10px;
    height: 480px;
    width: 740px;
    background-color: pink;
}

/*右侧内容*/
.column_right {
    float: right;
    height: 480px;
    width: 250px;
    background-color: skyblue;
}
